.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 10px;
    z-index: 5;
}

.nav-container .nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    border-radius: 20px;
}

.ul-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.ul-container li {
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    transition: all ease-in-out 0.5s;
}
.ul-container li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}
.ul-container:hover li{
    opacity: 0.2;
    filter:blur(0.0625rem);
}
.ul-container li:hover{
    opacity: 1;
    filter: blur(0);
}

@media (max-width: 768px) {
    .nav-container .nav {
      width: 65%; 
    }

    .ul-container li {
        list-style: none;
        text-transform: uppercase;
        padding: 10px;
        margin: 5px;
        transition: all ease-in-out 0.5s;
    }
    
    .ul-container li a{
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: white;
        font-size: small;
    }
  }