@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@900&family=Source+Sans+Pro:wght@900&display=swap');
*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    scroll-behavior: smooth;
}